<%- include('partials/header') %>

<div class="jumbotron text-center grad">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <div class="row row-pad">
      <% userWithSecrets.forEach(function(user){ %>
        <div class="card-body col-lg-3 col-md-4 col-sm-6">
          <p class="secret-text"><%=user.secret%></p>
        </div>
      <% }); %>
      <hr>
    </div>
    
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
